<div class="container-fluid">
    <div class="header mt-1 p-1">
          <h1>SEAMSTER PRODUCTS</h1>
    <a href="http://localhost:4200/products/index">PRODUCTS LIST</a>
    &nbsp;
    <a href="http://localhost:4200/orders/index">ORDERS LIST</a>
    &nbsp;
    <a (click)="openDialog()">ADD PRODUCT</a>
    &nbsp;
    <a (click)="openDialogg()">ADD ORDER</a>
    </div>
    
<br>
    <table class="table table-bordered">
        <thead>
        <tr>
          <!--<th>id</th>--> 
          <th>PRODUCT NAME</th>
          <th>PRODUCT TYPE</th>
          <th>ACTION</th>
        </tr>
      </thead>
    
      <tbody>
        <ng-container>
          <mat-spinner *ngIf="loading" id="loading"></mat-spinner>
        </ng-container>
        <tr *ngFor="let product of products">
     <!-- <td>{{ employee.id }}</td> -->
          <td>{{ product.Name }}</td>
          <td>{{ product.type }}</td>
          <td>
          <a href="#" [routerLink]="['/products/',product.id,product.ProductId, 'view']"><span class='bi bi-eye-fill'></span></a>
          </td>
        </tr>
      </tbody>
      </table>
</div>
