<div class="container-fluid">
    <div class="header mt-1 p-1">
          <h1>SEAMSTER PRODUCTS</h1>
    <a href="http://localhost:4200/products/index">PRODUCTS LIST</a>
    &nbsp;
    <a href="http://localhost:4200/orders/index">ORDERS LIST</a>
    &nbsp;
    <a href="http://localhost:4200/products/addproduct">ADD PRODUCT</a>
    &nbsp;
    <a href="http://localhost:4200/orders/addorder">ADD ORDER</a>
    </div>
<br>
    <table class="table table-bordered">
        <thead>
        <tr>
          <!--<th>id</th>--> 
          <th>ORDER NAME</th>
          <th>ORDER TYPE</th>
          <th>ACTION</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let order of orders">
     <!-- <td>{{ employee.id }}</td> -->
          <td>{{ order.Name }}</td>
          <td>{{ order.type }}</td>
          <td>
            <a href="#" [routerLink]="['/orders/',order.id,order.OrderId, 'view']" class="btn btn-outline-success">View</a>
          </td>
        </tr>
      </tbody>
      </table>
</div>