<div class="container-fluid">
    <div class="header mt-1 p-1">
          <h1>SEAMSTER PRODUCTS</h1>
    <a href="http://localhost:4200/products/index">PRODUCTS LIST</a>
    &nbsp;
    <a href="http://localhost:4200/orders/index">ORDERS LIST</a>
    &nbsp;
    <a (click)="openDialog()">ADD PRODUCT</a>
    &nbsp;
    <a (click)="openDialogg()">ADD ORDER</a>
    </div>

  <script>
      let dat = new Date("2015-03-25");
      document.getElementById("orderdate").innerHTML = dat;
  </script>

<br>
    <table class="table table-bordered">
        <thead>
        <tr>
          <!--<th>id</th>--> 
          <th>ORDER NO</th>
          <th>ORDER DATE</th>
          <th>ACTION</th>
        </tr>
      </thead>
    
      <tbody>
        <ng-container>
          <mat-spinner *ngIf="loading" id="loading"></mat-spinner>
        </ng-container>
        <tr *ngFor="let order of orders">
     <!-- <td>{{ order.id }}</td> -->
          <td>{{ order.Number }}</td>
          <td><input id="orderdate" name="orderdate" formControlName="orderdate" class="form-control"></td>
          <td><a href="#" [routerLink]="['/orders/',order.id,order.OrderId, 'viewdetails']" class="btn btn-outline-success">View</a></td>
        </tr>
      </tbody>
      </table>
</div>